/* CSS - Select */

.s-hidden {
  visibility:hidden;
  padding-right:10px;
}

.leavingfrom {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:240px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.styleleavingfrom {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/personalbg.png) no-repeat;
}

.styleleavingfrom:active,
.styleleavingfrom.active {
	background: url(../images/personalbgh.png) no-repeat;
	color:#909090;
}

.leavingfromoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:228px;
}

.leavingfromoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.leavingfromoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.departure {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:111px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.styledeparture {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/date2bg.png) no-repeat;
}

.styledeparture:active,
.styledeparture.active {
	background: url(../images/date2bgh.png) no-repeat;
	color:#909090;
}

.departureoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:109px;
}

.departureoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.departureoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}


.return {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:111px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.stylereturn {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/date2bg.png) no-repeat;
}

.stylereturn:active,
.stylereturn.active {
	background: url(../images/date2bgh.png) no-repeat;
	color:#909090;
}

.returnoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:109px;
}

.returnoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.returnoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}


.going {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:240px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.stylegoing {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/personalbg.png) no-repeat;
}

.stylegoing:active,
.stylegoing.active {
	background: url(../images/personalbgh.png) no-repeat;
	color:#909090;
}

.goingoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:228px;
}

.goingoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.goingoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.adult {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:111px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 8px 0 0;
}

.styleadult {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/date2bg.png) no-repeat;
}

.styleadult:active,
.styleadult.active {
	background: url(../images/date2bgh.png) no-repeat;
	color:#909090;
}

.adultoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:109px;
}

.adultoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.adultoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.seniors {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:111px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.styleseniors {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/date2bg.png) no-repeat;
}

.styleseniors:active,
.styleseniors.active {
	background: url(../images/date2bgh.png) no-repeat;
	color:#909090;
}

.seniorsoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:109px;
}

.seniorsoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.seniorsoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.childs {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:111px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.stylechilds {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/date2bg.png) no-repeat;
}

.stylechilds:active,
.stylechilds.active {
	background: url(../images/date2bgh.png) no-repeat;
	color:#909090;
}

.childsoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:109px;
}

.childsoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.childsoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.airline {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:240px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.styleairline {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/personalbg.png) no-repeat;
}

.styleairline:active,
.styleairline.active {
	background: url(../images/personalbgh.png) no-repeat;
	color:#909090;
}

.airlineoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:228px;
}

.airlineoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.airlineoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.flight {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:240px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 5px 0 0;
}

.styleflight {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/personalbg.png) no-repeat;
}

.styleflight:active,
.styleflight.active {
	background: url(../images/personalbgh.png) no-repeat;
	color:#909090;
}

.flightoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:228px;
}

.flightoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.flightoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.sortby {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:170px;
  height:32px;
  color:#909090;
  float:left;
  margin:0;
}

.stylesortby {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/sortbg.png) no-repeat;
}

.stylesortby:active,
.stylesortby.active {
	background: url(../images/sortbgh.png) no-repeat;
	color:#909090;
}

.sortbyoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:168px;
}

.sortbyoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.sortbyoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.ipers {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:31px;
  border:none;
  width:301px;
  height:31px;
  color:#909090;
  float:left;
  margin:0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.styleipers {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/selsprite.png) no-repeat;
}

.styleipers:active,
.styleipers.active {
	background: url(../images/selsprite.png) no-repeat;
	background-position: 0 -31px;
	color:#909090;
}

.ipersoptions {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:299px;
}

.ipersoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.ipersoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.country {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:31px;
  border:none;
  width:301px;
  height:31px;
  color:#909090;
  float:left;
  margin:0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.stylecountry {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/selsprite.png) no-repeat;
}

.stylecountry:active,
.stylecountry.active {
	background: url(../images/selsprite.png) no-repeat;
	background-position: 0 -31px;
	color:#909090;
}

.countryoptions {
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:299px;
  height: 186px;
  overflow: auto;
  outline:none;
}

.countryoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.countryoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.city {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:31px;
  border:none;
  width:301px;
  height:31px;
  color:#909090;
  float:left;
  margin:0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.stylecity {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/selsprite.png) no-repeat;
}

.stylecity:active,
.stylecity.active {
	background: url(../images/selsprite.png) no-repeat;
	background-position: 0 -31px;
	color:#909090;
}

.cityoptions {
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:299px;
  height: 186px;
  overflow: auto;
  outline:none;
}

.cityoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.cityoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.card {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:31px;
  border:none;
  width:301px;
  height:31px;
  color:#909090;
  float:left;
  margin:0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.stylecard {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/selsprite.png) no-repeat;
}

.stylecard:active,
.stylecard.active {
	background: url(../images/selsprite.png) no-repeat;
	background-position: 0 -31px;
	color:#909090;
}

.cardoptions {
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  width:299px;
  outline:none;
}

.cardoptions li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.cardoptions li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}

.select1 {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:230px;
  height:32px;
  color:#1575bc;
}

.styledSelect1 {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 15px;
  background: url(../images/wherebg.png) no-repeat;
}

.styledSelect1:active,
.styledSelect1.active {
	background: url(../images/wherebgh.png) no-repeat;
	color:#fff;
}

.select2 {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:90px;
  height:32px;
  color:#1575bc;
  float:left;
  margin:0 10px 0 0;
}

.styledSelect2 {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/whobg.png) no-repeat;
}

.styledSelect2:active,
.styledSelect2.active {
	background: url(../images/whobgh.png) no-repeat;
	color:#fff;
}

.select3 {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:90px;
  height:32px;
  color:#1575bc;
  float:left;
}

.styledSelect3 {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/whobg.png) no-repeat;
}

.styledSelect3:active,
.styledSelect3.active {
	background: url(../images/whobgh.png) no-repeat;
	color:#fff;
}

.select4 {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:230px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 15px 0 0;
}

.styledSelect4 {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/personalbg.png) no-repeat;
}

.styledSelect4:active,
.styledSelect4.active {
	background: url(../images/personalbgh.png) no-repeat;
	color:#909090;
}

.select5 {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:110px;
  height:32px;
  color:#909090;
  float:left;
  margin:0 8px 0 0;
}

.styledSelect5 {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/whobg2.png) no-repeat;
}

.styledSelect5:active,
.styledSelect5.active {
	background: url(../images/whobg2h.png) no-repeat;
	color:#909090;
}

.select6 {
  cursor:pointer;
  position:relative;
  font-size:11px;
  font-weight:normal;
  line-height:30px;
  border:none;
  width:110px;
  height:32px;
  color:#909090;
  float:left;
  margin:0;
}

.styledSelect6 {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:0 10px;
  background: url(../images/whobg2.png) no-repeat;
}

.styledSelect6:active,
.styledSelect6.active {
	background: url(../images/whobg2h.png) no-repeat;
	color:#909090;
}


.options {
  display: none;
  border:1px solid #002643;
  background:#004c85;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.options li {
  margin:0;
  padding:0 15px;
  color:#fff;
}

.selects .last {
	border-radius:0 0 3px 3px;
}

.options li:hover {
  background-color:#002643;
  color:#fff;
}

.options1 {
  display: none;
  border:1px solid #cfcfcf;
  background:#ffffff;
  border-radius:3px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:35px;
  z-index: 999;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.options1 li {
  margin:0;
  padding:0 15px;
  color:#626262;
}

.selects .last {
	border-radius:0 0 3px 3px;
}

.options1 li:hover {
  background-color:#f0f0f0;
  color:#1575bc;
}
